.headers{

        .logo {
            font-size: 50px;
            float: left;
            width: 120px;
            height: 31px;
            margin: 16px 24px 16px 0;
            background: rgba(23, 204, 236, 0.3);
        }

    
}